<!DOCTYPE html>
<html>
<title>PuppyWorld</title>
<head th:fragment="header">
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!-- navigation -->
<link href="/css/component.css" rel="stylesheet" type="text/css"  />
<!-- navigation -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<script src="js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
</head>
<body>
    <!-- header-section-starts -->
	<div class="header" th:fragment="menu">
		<div class="header-top">
			<div class="container">
				<p class="location"><i class="location"></i>3 New Bugis Street, Singapore 188867</p>
				<p class="phonenum">+ 65 8858 2068</p>
				<p style="text-align:center; font-size:20px; font-weight:bold; color:white">Welcome [[${#httpServletRequest.remoteUser}]]</p>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="Home" th:href="@{/}"><img src="images/logo.png" alt="" /></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav class="cl-effect-5">

						<li><a class="active" a href="Home" th:href="@{/}"><span data-hover="Home">Home</span></a></li> 
						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/productList}"><span data-hover="Product">Product</span></a></li>

						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/serviceList}"><span data-hover="Service">Service</span></a></li> 
					 <li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/postCreate}"><span data-hover="Lost&Found">Lost&Found</span></a></li>

						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/providerList}"><span data-hover="Service">Service</span></a></li> 
<!-- 						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/post}"><span data-hover="Lost&Found">Lost&Found</span></a></li>  -->

						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/checkBreed}"><span data-hover="CheckBreed"> Check Breed </span></a></li> 
						<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/profile}"><span data-hover="Profile">Profile</span></a></li>
						<li th:if="${not #httpServletRequest.remoteUser.isEmpty() and #httpServletRequest.isUserInRole(T(com.example.ad.domain.Role).ROLE_ADMIN.toString())}" ><a href="#" th:href="@{/registerStaff}"><span data-hover="Register New Staff"> Register New Staff </span></a></li>
						<li th:if="${#httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/login}"><span data-hover="Login"> Login </span></a></li>
						<li th:if="${#httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/register}"><span data-hover="Register New User"> Register New User </span></a></li>
      					<li th:if="${not #httpServletRequest.remoteUser.isEmpty()}"><a href="#" th:href="@{/logout}"><span data-hover="Logout"> Logout </span></a></li>
					</nav>

					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	
</div>			
		</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer" th:fragment="footer">
		<div class="container">
			<div class="col-md-5 contact-section">
				<h4>Contact Form</h4>
					<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					<textarea onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Message';" >Message</textarea>
					<input type="submit" value="SEND">
			</div>
			<div class="col-md-7 follow-us">
				<h4>Dog - Our Best Friend on Earth</h4>
				<!--  <div class="social-icons">
					<i class="facebook"></i>
					<i class="twitter"></i>
					<i class="pinterest"></i>
					<i class="googlepluse"></i>
				</div> -->
				<p>Dogs deserve gentle handling and an abundance of our time and attention. Love can make a dog's world go round as much as love makes our world go round. When we give our love freely to our dogs, we receive their love in return. Dogs can truly be man's and woman's and children's best friends, and we should feel honored to be theirs, as well.</p>
				<div class="copyright">
					<p>Copyright &copy; 2021.PuppyWorld All rights reserved. </p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer-section-ends -->
	<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>