<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">

<!-- <meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<title>Puppy Snap</title>

</head>
<body>
  <div th:insert="fragments/general.html :: menu"></div>
  	<div class="main">
	<div class="container" style="text-align: center; margin-bottom: 20px;">
	<h1 style="font-weight:bold; padding:10px">Puppy Snap</h1>
	<br />
	
	<form action="#" th:action="@{/checkBreedsave}" 
			method="post" enctype="multipart/form-data">

			<div class="form-group" style="margin-left:34%; text-align:left" >
				<label style="width: 200px; text-align:left"> Upload Image:</label>
				<br/>
				<div>
					<input type="file" class="form-control-file" name="fileImage" id="fileImage" accept="image/*" onchange="loadFile(event)" />
				</div>
				<br/>
				<div class="form-group"  style="margin-left:10%">
					<img id="output" alt="Preview" width="200" height="200" th:src="@{'data:image/jpeg;base64,'+${image}}"/>
				</div>
				</div>

				<button type="submit" name="upload" id="upload"  class="send_upload" value="upload" >Submit</button>
				
		</form>
	</div >
	<div th:each="result:${results}" class="container" style="text-align: center; margin-bottom: 20px; margin-left:40%;">
		<p style="text-align: left; color:rgb(0, 0, 0)" th:text=${result}></p>
	</div>
	</div>
	
	<div th:insert="fragments/general.html :: footer"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };

</script>
</html>
