<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">
<!-- <meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<title>PuppyWorld Edit User Profile</title>
</head>
<body>
  <div th:insert="fragments/general.html :: menu"></div>
  	<div class="main">
	<div class="container" style="text-align: center; margin-bottom: 20px">
	<form action="" th:object="${user}" th:action="@{/saveProfile}" method="post">
	
		<fieldset>
			<input type="hidden" th:field="*{userId}" th:value="*{userId}">
		</fieldset>
		
		<fieldset>
	       	<legend>Edit Profile</legend>
	      
	      		<div class="form-group" style="margin-left:35%; text-align:left">
				<label style="width: 120px; text-align:left">Full Name:</label>
				<input type="text" th:field="*{name}"/>
				<p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
				
				<div class="form-group" style="margin-left:35%; text-align:left">
				<label style="width: 120px; text-align:left"> Username:</label>
				<input type="text" th:field="*{userName}"/>
				<p style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
				</div>
				
				<div class="form-group" style="margin-left:35%; text-align:left">
				<label style="width: 120px; text-align:left"> Password:</label>
				<input type="password" th:field="*{password}"/>
				<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				</div>

				<div class="form-group" style="margin-left:35%; text-align:left">
				<label style="width: 120px; text-align:left"> Email Address:</label>
				<input type="email" th:field="*{emailAddress}"/>
				<p style="color:red" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>
				</div>
				
	      		<br/>
	      		
	      		<div class="form-actions" style="text-align: center"> 
	      		<button type="submit" >Update</button>
	      		</div>
	       
	  </form>
	</fieldset>
		
		<!--  
        <fieldset style="margin-bottom: 20px">
			Full Name: <input type="text" th:field="*{name}" th:value="*{name}">
			<p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		
		<fieldset style="margin-bottom: 20px">
			Username: <input type="text" th:field="*{userName}" th:value="*{userName}">
			<p style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
		</fieldset>
		
		<fieldset style="margin-bottom: 20px">
			Password: <input type="password" th:field="*{password}">
			<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		</fieldset>
		
		<fieldset style="margin-bottom: 20px">
			Email Address: <input type="email" th:field="*{emailAddress}" th:value="*{emailAddress}">
			<p style="color:red" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>
		</fieldset>
		
		
		<fieldset>
			<button type="submit" >Update</button>
		</fieldset>
		
	</form>
	-->
	</div>
	</div>
	
	
	<div th:insert="fragments/general.html :: footer"></div>
</body>
</html>