<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general2.html :: header">
	<title>PuppyWorld Forget Password</title>
</head>

<body>
  <div th:insert="fragments/general2.html :: menu"></div>
  
  <div class="main">
	<div class="container" style="text-align: center; margin-bottom: 20px">
	<form action="" th:object="${user}" th:action="@{/passwordRegenerate}" method="post">
        
        <fieldset style="margin-bottom: 20px">
			Email Address: <input type="email" th:field="*{emailAddress}">
			<p style="color:red" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>
		</fieldset>

		<fieldset>
			<button type="submit" style="color:white">Regenerate Password</button>
		</fieldset>
		
	</form>
	</div>
  </div>
	
  <div th:insert="fragments/general2.html :: footer"></div>
</body>

</html>
