<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>PuppyWorld Index Page</title>
</head>
<body>
  <div th:insert="fragments/general.html :: menu"></div>
  <div style="text-align:center; font-family:Lucida Handwriting">
<!--	  <div class="main">
			<div class="container">
 				<h1>Welcome to The PuppyWorld!</h1>
			  	<p>Our mission is to bring you the best service.</p> -->
			 	<img width="100%" height="70%" th:src="@{/images/dog1.jpg}" />
			 	<div class = "centered">Welcome to PuppyWorld!</div>
			</div>
		</div>

		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav class="cl-effect-5">
						<li><a class="active" href="index.html"><span data-hover="Home">Home</span></a></li> 
						<li><a href="product.html"><span data-hover="Product">Product</span></a></li>
						<li><a href="service.html"><span data-hover="Service">Service</span></a></li> 
						<li><a href="post.html"><span data-hover="Post">Lost&Found Post</span></a></li> 
						<li><a href="breed.html" th:href="@{/checkBreed/home}"><span data-hover="Breed">Check Breed</span></a></li> 
						<li><a href="profile.html"><span data-hover="Profile">Profile</span></a></li>
					</nav>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>

		<div>
			

		</div>
  
  </div>
	
	<div th:insert="fragments/general.html :: footer"></div>
</body>
</html>