<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>



div.container{
margin-top: 5px;
margin-bottom: 5px; 
width: 100%;
display: block;

}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  height: 350px;
  position: relative;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}



div.gallery img {
  width: 350px;
  height: 235px;
  float: left;
  display: block;
}

div.desc {
  margin-top: 235px;
  text-align: center;
  

}

</style>

</head>

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div class="main" style="height:150%; width:85%;margin-left:auto; margin-right:auto">
	<div class="container" style="text-align:center">
		<h1 style="font-weight:bold; padding:15px;">Product</h1>

		<ul style="list-style: none; margin-left:auto; margin-right:auto; padding:10px">
			<li th:if="${not #httpServletRequest.remoteUser.isEmpty() and #httpServletRequest.isUserInRole(T(com.example.ad.domain.Role).ROLE_ADMIN.toString())}"
				style="float:left">
				<button><a style="color:white" href="#" th:href="@{/productCreate}">Create New</a></button>
			</li>
			<li style="float:right">
	<!-- 			<h3>Search</h3> -->
				
				<div>
			</li>
		</ul> 

	

	
	
		<p></p>
		</div>

		<div class="container">
			<div th:each="product : ${productList}">
			<div class="gallery">
				<img th:src="@{${'/product/image/'+ product.productId}}" 
	                class="card img-fluid" style="width:100%" alt="">
	               
	                <div class="desc"><p><br><span th:text=  ${product.productName}>Name</span><p>
	              	$<span th:text=  "${#numbers.formatDecimal(product.productPrice, 0, 2)}">Price</span><p>
	           	<a href="EditProduct.html" th:href="@{/productEdit/}+${product.productId}">Edit</a><p>
					<a href="DeleteProduct.html" th:href="@{/productDelete/}+${product.productId}"><i class="glyphicon glyphicon-trash"></i></a></div>	
			
			 
			
			</div>
			
			</div>
		</div>

	<h3>Search</h3>
	<div>
		<form action="" th:action="@{/searchProduct}" method="post">
		     <fieldset>
	        	Filter:<input type="text" th:value="${keyword}" name="keyword" size="50"required>
	        </fieldset>
	        <br/>
	       <!--  <fieldset>
			<input type="text" name="keyword" id="keyword" th:value="${keyword}"
				size="50" required /> &nbsp; -->
			<fieldset>
			<button type="submit">Search</button>
			</fieldset>
			 <br/>
		</form>

	</div>
	<h1 th:if="${#lists.isEmpty(productList)}" style="font-weight:bold; padding:15px;" align="center">Empty List</h1>


    <br/>
    
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>

