<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Form</title>
</head>
<body>

	<div align ="center"></div>

	<h1>Product Form</h1>
	<br/>
	<form action="#" th:object="${product}" th:action="@{/product/save}"
		method="post">

		<fieldset>
			Product Name <input type="text" th:field="*{productName}">
		</fieldset>

		<fieldset>
			Product Price <input type="text" th:field="*{productPrice}">
		</fieldset>
		
		<fieldset>
			Product Quantity <input type="text" th:field="*{productQuantity}">
		</fieldset>
		
		<fieldset>
			Product Type <input type="text" th:field="*{productType}">
		</fieldset>
		
		<fieldset>
			Image <input type="file" th:field="*{image}">
		</fieldset>

		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; 
			<input type="button" value="Reset" onclick="window.location.href='/product/add'; return false"/>
		</fieldset>

	</form>

</body>
</html>