<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>

div.container{
margin-top: 5px;
margin-bottom: 5px; 
width: 100%;

}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;
  height: 500px;
  padding: 50px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 50%;
  margin: auto; 
  display: block;
}
</style>

</head>

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Product List</h1>
	<!-- 
	<a href="AddProduct.html" th:if="${not #lists.isEmpty(session.empsession) and (session.empsession.role == T(com.example.ad.domain.UserType).ADMIN)}" th:href="@{/product/add}">New Product</a>
	-->
	<h3>Product Search</h3>
	<div>
		<form th:action="@{/product/search/}" method="get">
			<input type="text" name="keyword" id="keyword" th:value="${keyword}"
				size="50" required /> &nbsp;
			<button type="submit">Search</button>
			&nbsp; <input type="button" value="Clear" onclick="clearSearch()" />
		</form>
	</div>
	
	<div class ="container">
		<div th:each="product : ${productList}">
		<div class="gallery">
			<img th:src="@{${'/product/image/'+ product.productId}}" 
                class="card img-fluid" style="width:300px" alt="">
                
              
        
                
           <p></p> <div> Product ID: <span th:text=  ${product.productId}>Product ID</span><p></p>
             Product Name: <span th:text=  ${product.productName}>Product Name</span><p></p>
             Product Price: <span th:text=  ${product.productPrice}>Product Price</span><p></p>
             Product Quantity: <span th:text=  ${product.productQuantity}>Product Quantity</span><p></p>
              Product Type: <span th:text=  ${product.productType}>Product Type</span><p></p>
              Created By: <span th:text=  ${product.user.userName}>Created By</span><p></p>	<a href="EditProduct.html" th:href="@{/product/edit/}+${product.productId}">Edit</a><p></p>
				<a href="DeleteProduct.html" th:href="@{/product/delete/}+${product.productId}">Delete</a></div>	
		
		 
		</div>
	</div>
	</div>

    <br/>
    <h1 th:if="${#lists.isEmpty(productList)}">Empty List</h1>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>