<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">
	<meta charset="UTF-8">
	<title>Product List</title>
</head>

<body>
	<div th:replace="fragments/general.html :: menu"></div>
	<div class="main"> <!--style="height:150%; width:85%;margin-left:auto; margin-right:auto">-->
	<div class="container" style="text-align:center; margin-bottom: 20px">
		<h1 style="font-weight:bold; padding:10px;">Product</h1>

		<ul style="list-style: none; margin-left:auto; margin-right:auto; padding:10px">
			<li th:if="${not #httpServletRequest.remoteUser.isEmpty() and #httpServletRequest.isUserInRole(T(com.example.ad.domain.Role).ROLE_ADMIN.toString())}"
				style="float:left">
				<button><a style="color:white" href="#" th:href="@{/productCreate}">Create New</a></button>
			</li>
			<li style="float:right">
	<!-- 			<h3>Search</h3> -->

				<h3>Search</h3>
	            <div>
		          <form action="" th:action="@{/searchProduct}" method="post">
		          <fieldset>
	        	       <input type="text" th:value="${keyword}" name="keyword" size="50"required>
	              </fieldset>
	              <br/>
	                 <!--  <fieldset>
			             <input type="text" name="keyword" id="keyword" th:value="${keyword}"
				          size="50" required /> &nbsp; -->
			        <fieldset>
			        <button type="submit">Search</button>
			       </fieldset>
			        <br/>
		          </form>

	            </div>

			</li>
		</ul> 


	
	
	
		<p></p>
		</div>


		<div class="container">
			<div th:each="product : ${productList}">
			<div class="gallery">
				<img th:src="@{${'/product/image/'+ product.productId}}" 
	                class="card img-fluid" style="width:100%" alt="">
	               
	                <div class="desc"><p><br><span th:text=  ${product.productName}>Name</span><p>
	              	$<span th:text=  "${#numbers.formatDecimal(product.productPrice, 0, 2)}">Price</span><p>
	           	<a href="EditProduct.html" th:href="@{/productEdit/}+${product.productId}">Edit</a><p>
					<a href="DeleteProduct.html" th:href="@{/productDelete/}+${product.productId}"><i class="glyphicon glyphicon-trash"></i></a></div>	
			
			 
			
			</div>
			
			</div>
		</div>


	<!-- <h3>Search</h3>
	<div>
		<form action="" th:action="@{/searchProduct}" method="post">
		     <fieldset>
	        	Filter:<input type="text" th:value="${keyword}" name="keyword" size="50"required>
	        </fieldset>
	        <br/>
	        <fieldset>
			<input type="text" name="keyword" id="keyword" th:value="${keyword}"
				size="50" required /> &nbsp;
			<fieldset>
			<button type="submit">Search</button>
			</fieldset>
			 <br/>
		</form>

		</div>
		</div>
	</div> -->

	<h1 th:if="${#lists.isEmpty(productList)}" style="font-weight:bold; padding:15px;" align="center">Empty List</h1>

    
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
  
  $(document).ready(function() {
	    $('#upload').bind("click",function() 
	    { 
	        var imgVal = $('#fileImage').val(); 
	        if(imgVal=='') 
	        { 
	            alert("empty input file"); 
	            return false; 

	        } 
	        return true; 

	    }); 
	});

</script>
</html>

