<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: header">
<!-- <meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<title>PuppyWorld Profile</title>
</head>
<body>
  <div th:insert="fragments/general.html :: menu"></div>
  	<div class="main">
	<div class="container" style="text-align: center; margin-bottom: 20px">
	
	<h2 style="padding:25px;font-weight:bold">Your Profile</h2>
	<table th:if="${not #httpServletRequest.remoteUser.isEmpty()}"  class="table" style="width:35%; margin-left: auto; margin-right: auto; padding: 10px">
		<tr>
			<td>Name</td>
			<td th:text=${userProfile.name}>Your Name</td>
		</tr>
		
		<tr>
			<td>User Name</td>
			<td th:text="${userProfile.userName}"> Your Username</td>
		</tr>
		
		<!-- <tr>
			<td>Password</td>
			<td th:text=${userProfile.password}>Your Password</td>
		</tr> -->
		
		<tr>
			<td>Email Address</td>
			<td th:text=${userProfile.emailAddress}>Your Email Address</td>
		</tr>
		<tr>
			<td colspan="2">
				<br/>
				<button>
					<a style="color:white" href="EditProfile.html" th:href="@{/edit}">Edit Profile</a>
				</button></td>
		</tr>
	</table> 
	
	<h2 style="padding:25px">Your Reservation Details</h2>
	<table class="table" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
		<tr>
			<th>Name of service</th>
			<th>Reservation Date</th>
			<th>Reservation Time</th>  
		</tr>
		<tbody>
		<tr th:each="reservation:${reservationList}" >
			<td th:text=${reservation.reserveDate}>Reservation Date</td>
			<td th:text=${reservation.reserveTime}>Reservation Time</td>
			<td th:text=${reservation.noOfDogs}>Number Of Dogs</td>
		</tr>
		</tbody>
	</table>
	<div>
	<br/>
		<button>
			<a style="color:white" href="Home" th:href="@{/}">Back to Home</a>
		</button>
	</div>
	
	</div>
	</div>
	
	<div th:insert="fragments/general.html :: footer"></div>
</body>
</html>
