<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Service List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<div class="main" height="150%">
	<div class="container" style="text-align:center">
	
	<h1 style="font-weight:bold">Service</h1>
	<!-- Add Hyperlink -->
	<button style="margin-left:75%">
	<a th:if="${#httpServletRequest.isUserInRole(T(com.example.ad.domain.Role).ROLE_ADMIN.toString())}" style="color:white" th:href="@{/serviceCreate}">Create New Service</a>
	</button>
	
	<br/><br/>

	<table class="table">
		<tr>
     <th>Name</th>
     <th>Description</th>
     <th>Reservation Type</th>
     <th>Charges</th>
     <th>Date</th>
     <th>Slots</th>
     <th>Delete</th>
     <th>Reserve</th>
        </tr>
		<tbody>
   <tr th:each="service:${serviceList}">
     <td th:text="${service.serviceName}">Service Name</td>
     <td th:text="${service.serviceDescription}">Service Description</td>
     <td th:text="${service.reservationType}">Reservation Type</td>
     <td th:text="'$'+${service.charges}">Charges</td>
     <td th:text="'$'+${service.localDate}">Date</td>
     <td>
     <select>
     	<option th:each="product:${service.timeSlots}"
					th:text="${product}"></option>
		</select>
     </td>
	 <td> <a th:href="@{/serviceDelete/}+${service.serviceId}">Delete</a></td>
	 <td> <a th:href="@{/reservationCreate/}+${service.serviceId}">Reservation</a></td>
    </tr>
   </tbody>
	</table>
	
	</div>
	</div>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>