<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Service List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<div class="main" height="150%">
	<div class="container" style="text-align:center">
	
	<h1 style="font-weight:bold" th:text="${provider.providerName}">Service</h1>


    <div>
	<h1>Service</h1>

	<!-- Add Hyperlink -->

	<button style="margin-left:75%">
	<a th:if="${#httpServletRequest.isUserInRole(T(com.example.ad.domain.Role).ROLE_ADMIN.toString())}" style="color:white" th:href="@{/serviceCreate/}+${provider.providerId}">Create New</a>
	</button>

	
	</div>

	
	<div>&nbsp;</div>
	
	<div>
	    <form action="" th:action="@{/searchService}" method="post">
	        <fieldset>
	        	Filter:<input type="text" th:value="${keyword}" name="keyword" required>
	        </fieldset>
	        <br/>
	        <fieldset>
	        	<button type="submit">Search</button>
	        </fieldset>
	        <br/>
	    </form>
	</div>
	
	<div>&nbsp;</div>


    <div>

	<table class="table">
		<tr>
		<tbody>
     <th>Date</th>
     <th>Time Slot</th>
     <th>Delete</th>
     <th>Reserve</th>
        </tr>
        </tbody>
	<tbody>
   	<tr th:each="service:${serviceList}">
     <td th:text="${service.localDate}">Date</td>
     <td>
     <select>
     	<option th:each="product:${service.timeSlots}"
					th:text="${product}"></option>
		</select>
     </td>
	 <td> <a th:href="@{/serviceDelete/}+${service.serviceId}">Delete</a></td>
	 <td> <a th:href="@{/reservationCreate/}+${service.serviceId}">Choose</a></td>
    </tr>
   </tbody>
	</table>

	
	</div>

	</div>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>