
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Service</title>
</head>
<body>
	<div align="center">
		<h1>Service</h1>
		<a href="new">Create new Service</a>
		<br/><br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Service name</th>
					<th>Service Description</th>
					<th>Charges</th>
					<th>Duration</th>
					<th>Upload picture</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="services :${listService}">
					<td th:text="${services.serviceId}">Service ID</td>
					<td th:text="${services.serviceDescription}">Service Description</td>
					<td th:text="${services.charges}">Charges</td>
					<td th:text="${services.serviceDuration}">Duration</td>
					<td th:text="${services.serviceImage}">Upload picture</td>
					<td>
						<a th:href="@{'/edit/'+${services.serviceId}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/'+${services.serviceId}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>